#login
  %span{:id => "title"} dial-rb
  %form{:action => "set-number", :method => "post"}
    %input{:id => "number-input", :class => "text-input", :name => "number", :value => "+1"}
    %input{:class => "button", :type => "submit", :value => "login"}
%script{:src => '/js/login.js', :type => 'text/javascript'}
