@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-image: url('../img/background.png');
  background-repeat: repeat;
  font-family: Arial,sans-serif;
  color: #5d5d5d;
}

.CodeMirror {
}

.cm-s-solarized {
  position: fixed;
  height: 100%;
  top: 40px;
  left: 10%;
  right: 10%;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.25) !important;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.25) !important;
  -moz-box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.25) !important;
}

.cm-s-xq-light {
  background: transparent !important;
  width: 300px;
  height: 171px;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.cm-s-xq-light .CodeMirror-code {
  max-width: 300px;
}

.cm-s-xq-light .CodeMirror-code pre {
  word-break: break-word;
}

.CodeMirror-vscrollbar {
  display: none !important;
}

.cm-s-base16-dark .CodeMirror-lines {
  cursor: default;
}

.button, .text-input {
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 200px;
  text-align: center;
  opacity: 0.78;
}

.button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.5);
  -moz-box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.5);
}

.text-input {
  color: #666;
  cursor: text;
}

.button.save {
  background: none repeat scroll 0 0 #e0645c;
  color: white;
}

.button.saved {
  background: none repeat scroll 0 0 #999999;
  color: white;
}

#number {
  display: none;
}

#login {
  position: fixed;
  top: 2%;
  left: 30%;
  right: 30%;
  width: 40%;
  text-align: center;
}

#app-name, #login form, #flash {
  margin-bottom: 20px;
}

#nav {
  position: fixed;
  right: 11%;
  bottom: 2%;
  z-index: 9999999999;
  max-width: 300px;
}

#menu-left {
  position: fixed;
  top: 0px;
  left: 10%;
  padding: 13px;
  font-weight: bold;
}

.menu a, .menu span {
  padding-left: 5px;
  padding-right: 5px;
}

#menu-right {
  position: fixed;
  top: 0px;
  right: 10%;
  text-align: right;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

#keymap-change {
  margin-right: -11px;
}

#menu-in {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(0.41, #FFFFFF),
    color-stop(1.11, #EAEAEA)
  );
  background-image: -o-linear-gradient(left, #FFFFFF 41%, #EAEAEA 111%);
  background-image: -moz-linear-gradient(left, #FFFFFF 41%, #EAEAEA 111%);
  background-image: -webkit-linear-gradient(left, #FFFFFF 41%, #EAEAEA 111%);
  background-image: -ms-linear-gradient(left, #FFFFFF 41%, #EAEAEA 111%);
  background-image: linear-gradient(to left, #FFFFFF 41%, #EAEAEA 111%);
  position: fixed;
  left: 10%;
  right: 10%;
  top: 0px;
  height: 41px;
  box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.25) !important;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.25) !important;
  -moz-box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.25) !important;
}

#nav .button {
  width: 275px;
}

.button-blue {
  background: none repeat scroll 0 0 #14d7ff;
}

.button-green {
  background: none repeat scroll 0 0 #24c837;
}

.button:hover {
  opacity: 0.6;
}

#title {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 40px;
}

.images {
  position: fixed;
  right: 3%;
  left: 3%;
}

.images img {
  width: 24%;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.5);
  -moz-box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.5);
}

a {
  color: #268bd2;
  opacity: 0.65;
  text-decoration: none;
  cursor: pointer;
}
