@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: #fdf6e3;
  font-family: Arial,sans-serif;
  color: #333;
}

.CodeMirror {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.cm-s-solarized {
  position: fixed;
  height: 96%;
  width: 70%;
  top: 15px;
  left: 100px;
}

.cm-s-xq-light {
  background: transparent !important;
  width: 300px;
  height: 171px;
}

.cm-s-xq-light .CodeMirror-code {
  max-width: 300px;
}

.cm-s-xq-light .CodeMirror-code pre {
  word-break: break-word;
}

.CodeMirror-vscrollbar {
  display: none !important;
}

.cm-s-base16-dark .CodeMirror-lines {
  cursor: default;
}

.button, .text-input {
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 200px;
  text-align: center;
  opacity: 0.78;
}

.button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.5);
  -moz-box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.5);
}

.text-input {
  color: #666;
  cursor: text;
}

.button.save {
  background: none repeat scroll 0 0 #e0645c;
  color: white;
}

.button.saved {
  background: none repeat scroll 0 0 #999999;
  color: white;
}

#number {
  display: none;
}

#login {
  position: fixed;
  top: 2%;
  left: 30%;
  right: 30%;
  width: 40%;
  text-align: center;
}

#login form, #flash {
  margin-bottom: 20px;
}

#nav {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 9999999999;
  max-width: 300px;
}

#nav .button {
  width: 275px;
}

.button-blue {
  background: none repeat scroll 0 0 #14d7ff;
}

#title {
  font-size: 40px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

a {
  color: #5fa1f9;
}

.images {
  position: fixed;
  right: 3%;
  left: 3%;
}

.images img {
  width: 24%;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.5);
  -moz-box-shadow: 5px 5px 5px 0px rgba(33,31,33,0.5);
}

a {
  text-decoration: none;
}
